nav {
  background-color: #ffffff;
  padding: 3vh 0;
  border-top: 3px solid #c5c5c5;
  height: 6.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0 2.5vh;
    li {
      list-style: none;
      margin: 0 2.5vh;
      padding: 0;
      img svg path {
        fill: #afafaf !important;
      }
    }
  }
}
