.Language {
  width: 5.5vh;
  height: 3.5vh;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.Language:active {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}
