.Language {
  width: 7vh;
  height: 4vh;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    display: block;
    height: 100%;
    position: absolute;
  }
}

.Language:active {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}
