.About {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0vh 4vh;
  padding-top: 11vh;
  padding-bottom: 12vh;
  font-family: roboto, sans-serif;
  .About--ImageWrapper {
    min-height: 23.5vh;
    border-radius: 10px;
  }
  .About--Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  .About--Title {
    font-size: 5vh;
    padding-top: 0.4vh;
    margin-top: 2vh;
    color: #e02424;
  }
  .About--Description {
    font-weight: 600;
    margin: 2vh 0;
    color: #57babb;
    font-size: 2vh;
    font-family: roboto, 'serif';
  }
  .About--Contact {
    border-radius: 10px;
    padding: 1.5vh 2vh;
    margin: 1vh 0;
    background-color: #f1f1f1;
    fill: #e02424;
    color: #e02424;
    .About--Contact__Margin {
      margin: 4vh 0;
    }
    .Contact--Container {
      width: 25vh;
      margin: 0 auto;
    }
    .Contact--Phone {
      display: grid;
      grid-template-columns: 20% 80%;
      a {
        display: flex;
        justify-content: flex-start;
        font-size: 1.1rem;
      }
      a:first-of-type {
        margin-right: 1vh;
        display: flex;
        justify-content: flex-end;
      }
    }
    .Contact--Email {
      display: grid;
      grid-template-columns: 20% 80%;
      a {
        display: flex;
        justify-content: flex-start;
        font-size: 1.1rem;
      }
      a:first-of-type {
        margin-right: 1vh;
        display: flex;
        justify-content: flex-end;
        height: 3vh;
      }
    }
    .Contact--Socials {
      display: flex;
      justify-content: center;
      .Socials {
        width: 8vw;
        max-width: 40px;
        margin: 0 2vw;
      }
    }
  }
  .About--Map {
    margin: 2vh 0;
    .Map__Responsive {
      overflow: hidden;
      padding-bottom: 57.25%;
      position: relative;
      height: 0;
      margin-bottom: 13vh;
    }
  }
}
