.Order {
  height: 64vh;
  padding: 0 2vh;
  padding-top: 11vh;
  padding-bottom: 12.5vh;

  .Order--Empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .Order--Empty--Icon {
      height: 10vh;
      margin: 2vh;
      svg path {
        fill: #afafaf;
      }
      svg rect {
        fill: #afafaf;
      }
    }
    .Order--Empty--Text {
      font-size: 3vh;
      color: #afafaf;
    }
  }
}
