@mixin fadein {
  -webkit-animation-name: fadin;
  -webkit-animation-duration: 1s;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

html,
body {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: 33% auto;
  grid-template-rows: 100vh 100vh;
  text-align: center;
  height: 100vh;

  .App--Feature {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    box-shadow: 0 6px 0px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .App--Content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 22.5vh 52.5vh 25vh;

    .Language {
      @include fadein();
      height: 6vh;
      display: block;
      float: right;
      margin: 1.75rem 1rem;
      border-radius: 10px;
      overflow: hidden;
      border-width: 0;
      outline: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
    }
    .Language:active {
      box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
      opacity: 0.6;
    }

    .Logo {
      display: block;
      background-color: white;
      width: 20vh;
      height: 20vh;
      margin: 1vh auto;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      overflow: hidden;
      @include fadein();

      img {
        width: 100%;
      }
    }

    .Title {
      @include fadein();
      .Title--Heading {
        margin: 0;
        font-size: 2rem;
      }
      .Title--Underline {
        display: block;
        margin: 0 auto;
        width: 60%;
        hr:first-child {
          border: solid black 3px;
          margin: 0 auto;
          margin-top: 5vh;
        }
        hr:last-child {
          width: 50%;
          border: solid black 3px;
          margin: 0 auto;
          margin-top: 1.5vh;
        }
      }
    }

    .Button--Menu {
      height: 7vh;
      min-width: 30vw;
      @include fadein();
      border: none;
      font-family: roboto, sans-serif;
      color: #ffffff;
      border-radius: 20px;
      font-size: 2vh;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    }

    .Button--Menu:active {
      box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
      opacity: 0.6;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0%, 20%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0%, 20%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
