.QuantityControl {
  .QuantityControl--Button {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    font-size: 3vh;
    margin: 0 1vh;
    padding: 0;
    font-weight: 800;
  }
  .QuantityControl--Button__Subtract {
    background-color: #f2b950;
  }
  .QuantityControl--Button__Add {
    background-color: #009259;
  }
}
