.OrderItemControls {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 6;
  width: 100%;
  margin-bottom: 2vh;
  top: 9.5vh;
  height: 21vh;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 2vh;
  box-sizing: border-box;
  a {
    position: absolute;
    align-self: flex-end;
    justify-self: flex-start;
  }
}
