@mixin fadein {
  -webkit-animation-name: fadin;
  -webkit-animation-duration: 1s;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.flex-end {
  justify-content: end;
  align-items: center;
}

.flex-start {
  justify-content: start;
  align-items: center;
}

.Header {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  @include fadein();
  .Header-Item {
    display: flex;

    .Title {
      font-family: roboto, sans-serif;
      font-size: 4vh;
      padding-top: 0.4vh;
      margin: 0;
      color: #e02424;
    }

    .Logo {
      width: 2.5vh;
      height: 2.5vh;
      margin-right: 2vh;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
