@mixin fadein {
  -webkit-animation-name: fadin;
  -webkit-animation-duration: 1s;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 5vh;
}

.flex-start {
  justify-content: start;
  align-items: center;
}

.Header {
  height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: #ffffff;
  border-bottom: 3px solid #e5e5e5;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  @include fadein();
  .Header-Item {
    display: flex;
    position: relative;
    height: 100%;
    .Title {
      font-family: roboto, sans-serif;
      font-size: 3vh;
      margin: 0;
      color: #e02424;
    }

    .Logo {
      position: absolute;
      height: 100%;
      width: 2vw;
      img {
        width: auto;
        height: 95%;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
