.MenuCatagory {
  background-color: #ffffff;
  min-height: 23.5vh;
  margin-bottom: 2vh;
  position: relative;
  border-radius: 10px;
  .MenuCatagory--Image {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
  }
  .MenuCatagory--Text {
    padding: 2vh 3vh;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .MenuCatagory--Name {
    font-weight: 500;
    color: #ff493c;
    font-size: 5vh;
    font-family: roboto, 'serif';
    text-transform: capitalize;
    margin-bottom: 2vh;
  }

  .MenuCatagory--Description {
    color: #57babb;
    font-size: 3vh;
    font-family: roboto, 'serif';
    text-transform: capitalize;
    font-style: italic;
    font-weight: 300;
  }
}
