.MenuItem {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  padding: 0.5vh 0;
  border-radius: 10px;
  position: relative;
  background-color: none;
  border: none;
  .MenuItem--Text {
    display: flex;
    flex-direction: column;
  }

  .MenuItem--Name {
    color: #000;
    font-size: 2.5vh;
    font-weight: 600;
    font-family: roboto, "serif";
    text-transform: uppercase;
  }

  .MenuItem--Description {
    color: grey;
    font-size: 2vh;
    font-family: roboto, "serif";
  }

  .MenuItem--Pic {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5vh;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
    img {
      clip-path: circle(50% at 50% 50%);
      height: 8.25vh;
      width: 8.25vh;
    }
  }

  .MenuItem--Price {
    font-size: 2.3vh;
    justify-self: end;
    font-weight: 600;
  }
}
