.MenuCatagory {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 3vh 2vh;
}

.MenuCatagory--Text {
  display: flex;
  flex-direction: column;
}

.MenuCatagory--Name {
  color: #57babb;
  font-size: 3vh;
  font-family: roboto, 'serif';
  text-transform: uppercase;
}

.MenuCatagory--Description {
  color: #e02424;
  font-size: 2vh;
  font-family: roboto, 'serif';
  text-transform: capitalize;
}

.MenuCatagory--Pic {
  display: flex;
  justify-content: end;
  margin-right: 0.5vh;
  img {
    clip-path: circle(50% at 50% 50%);
    height: 6vh;
    width: 6vh;
  }
}
