body,
html {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: roboto, 'serif';
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overflow {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 3vh; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.fixed-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 25;
}
