body,
html {
  margin: 0;
  user-select: none;
}

a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.fixed-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 25;
}
