.LanguagePicker {
  background-color: #ffffff;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  position: fixed;
  z-index: 100;
  top: 8vh;
  left: 0;
  right: 0;
  bottom: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vh;
  img {
    width: 5.5vh;
    height: 3.5vh;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 2vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  img:active {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
    opacity: 0.6;
  }
}
